html, body
{
    /* Height of these elements */
    height: 100%;

    /* No margin around these elements */
    margin: 0;

    /* No padding within these elements */
    padding: 0;
}

.section-link
{
    border: 1px solid black;
    float: left;
}

.section-link:last-child
{
    border-radius: 0px;

}

.list-group:after {
  clear: both;
  display: block;
  content: "";
}

.passage-selection
{
    padding-left: 8%;
    padding-right: 8%;
    border-bottom: 1px solid black;
}

@media (max-width: 90%) and (min-width: 0px) {
    .list-group {
        text-align: center;
    }
    .list-group>a {
        display: inline;
    }
}

.title
{
    text-align: center;
}

.wrapper
{
    padding:3%;
    width: 1000px;
    float:left;
    overflow:auto;
    margin: 1em 0;
}

.greek
{
    font-size: 20px;
    line-height: 300%;
}

.punctuation
{
    white-space:nowrap;
    margin-left:-4px;
}

ol.sentence
{
    display:inline;
}

ol.word {
 padding: .5em;
 margin-bottom: .5em;
 background: white;
 float:left;
 display: inline-block;
}

ol li{
    list-style-type: none;
}
.definition
{
    width:30px;
}

.second
{
    width: 100%
    ;
}