html, body
{
    /* Height of these elements */
    height: 100%;

    /* No margin around these elements */
    margin: 0;

    /* No padding within these elements */
    padding: 0;
}

.books
{
    text-align:center;
    width:30%;
    margin:auto;
}

.book-link
{
    border: 1px solid black;
    float: left;
}

.book-link:last-child
{
    border-radius: 0px;

}

.section-link
{
    border: 1px solid black;
    float: left;
}

.section-link:last-child
{
    border-radius: 0px;

}

.list-group:after {
  clear: both;
  display: block;
  content: "";
}

.passage-selection
{
    padding-left: 8%;
    padding-right: 8%;
    border-bottom: 1px solid black;
}

@media (max-width: 90%) and (min-width: 0px) {
    .list-group {
        text-align: center;
    }
    .list-group>a {
        display: inline;
    }
}

.title
{
    text-align: center;
}

.wrapper
{
    padding:3%;
    width: 70%;
    float:left;
    overflow:auto;
    margin: 1em 0;
}

.sectionNum
{
    font-size:20px;
}

ol.sentence
{
    display:inline;
}

ol.word {
 padding: .5em;
 margin-bottom: .5em;
 float:left;
 display: inline-block;
 overflow:hidden;
}

ol li{
    list-style-type: none;
}

.punctuation
{
    position:relative;
    top:29px;
    right:6px;
    float:left;
    display: inline-block;
    overflow:hidden;
}

.greek
{
    font-size: 20px;
    line-height: 300%;
    margin-bottom: -1em;
}

.english
{
    width:50px;
    height: 91px;
}

.sidebar
{
    width:10%;
    height:40%;
    border:1px solid black;
    position: fixed;
    left:75%;
    margin: 5%;
}

.vocab-level
{
    overflow: hidden;
    display: table;
    border: 1px solid black;
    margin:auto;
}

.vocab-level:last-child
{
    border-radius: 0px;

}

.difficulty
{
    display: table-cell;
    vertical-align: middle;
    float:none;
    padding:15%;
    text-align:center;
}

.info
{
    text-align:center;
}

