{% extends "layout.html" %}

{% block main %}
<div class="container title">
  <h3>Greek Interlinear Dictionary</h3>
  <h4>Plato's <i>Republic</i></h4>
</div>
<div class="passage-selection">
  <div class="list-group">
        <p><b>Book: </b><span class="book-number"></span></p>
        <a id="1" href="/republic/book1/section327a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
        <a id="2" href="/republic/book2/section357a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
        <a id="3" href="/republic/book3/section386a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
        <a id="4" href="/republic/book4/section419a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
        <a id="5" href="/republic/book5/section449a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
  </div>
  <div class="list-group">
    <p><b>Section: </b><span class="section-number"></span></p>
    <a href="/republic/book1/section327a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section327b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section327c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section328a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section328b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section328c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section328d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section328e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section329a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section329b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section329c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section329d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section329e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section330a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section330b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section330c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section330d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section330e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section331a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section331b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section331c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section331d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section331e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section332a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section332b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section332c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section332d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section332e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section333a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section333b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section333c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section333d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section333e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section334a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section334b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section334c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section334d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section334e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section335a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section335b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section335c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section335d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section335e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section336a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section336b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section336c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section336d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section336e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section337a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section337b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section337c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section337d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section337e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section338a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section338b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section338c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section338d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section338e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section339a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section339b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section339c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section339d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section339e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section340a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section340b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section340c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section340d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section340e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section341a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section341b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section341c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section341d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section341e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section342a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section342b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section342c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section342d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section342e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section343a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section343b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section343c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section343d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section343e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section344a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section344b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section344c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section344d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section344e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section345a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section345b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section345c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section345d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section345e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section346a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section346b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section346c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section346d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section346e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section347a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section347b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section347c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section347d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section347e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section348a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section348b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section348c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section348d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section348e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section349a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section349b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section349c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section349d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section349e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section350a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section350b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section350c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section350d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section350e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section351a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section351b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section351c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section351d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section351e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section352a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section352b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section352c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section352d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section352e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section353a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section353b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section353c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section353d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section353e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section354a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section354b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
    <a href="/republic/book1/section354c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>

  </div>
</div>

<div class="container wrapper">
  <ol class="sentence">
    <li>
      {% for i in range(words|length) %}
        {% if words[i][0]|string() == "," or words[i][0]|string() == "." or words[i][0]|string() == ";" or words[i][0]|string() == ":" %}
        {% elif words[i][0][0]|int != 0 %}
          <b class="sectionNum">{{ words[i][0] }}</b>
        {% elif words[i][0]|string() == ">" %}
          <br>
        {% elif words[i][0]|string() == "|" %}
          <br>
          <br>
        {% else %}
          <ol class="word">
            <li class="greek">
              <a target="_blank" href="{{ words[i][2] }}" class="greek">{{ words[i][0] }}{% if i < (words|length - 1) %}{% if words[i + 1][0]|string() == "," or words[i + 1][0]|string() == "." or words[i + 1][0]|string() == ";" or words[i + 1][0]|string() == ":" %}{{ words[i + 1][0] }}{% endif %}{% endif %}</a>
            </li>
            <li id="frequency{{ words[i][4] }}" class="english">
              {{words[i][1] }}: {{ words[i][3] }}<span></span>
            </li>
          </ol>
        {% endif %}
      {% endfor %}
    </li>
  </ol>
</div>

<div id="page-wrap">
  <div class="sidebar">
    <h4 class="info">Click to filter vocab</h4>
    <div class="list-group difficulty">
      <p class="info"><b>Vocab Difficulty:</b></p>
      <a id="vocab1" class="list-group-item list-group-item-action vocab-level">1</a>
      <a id="vocab2" class="list-group-item list-group-item-action vocab-level">2</a>
      <a id="vocab3" class="list-group-item list-group-item-action vocab-level">3</a>
    </div>
  </div>
</div>

<footer>
  <p>@ Bryce McDonald, CS 50 Final Project. Thanks to Perseus Digital Library for the Greek text and online dictionary.</p>
</footer>
{% endblock %}