{% extends "layout.html" %}

{% block main %}
<div class="container title">
  <h3>Greek Interlinear Dictionary</h3>
  <h4>Plato's <i>Republic</i></h4>
</div>
<div class="passage-selection">
  <div class="list-group">
        <p><b>Book: </b><span class="book-number"></span></p>
        <a id="1" href="/republic/book1/section327a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
        <a id="2" href="/republic/book2/section357a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
        <a id="3" href="/republic/book3/section386a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
        <a id="4" href="/republic/book4/section419a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
        <a id="5" href="/republic/book5/section449a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
  </div>
  <div class="list-group">
    <p><b>Section: </b><span class="section-number"></span></p>
<a href="/republic/book2/section357a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section357b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section357c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section358a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section358b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section358c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section358d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section358e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section359a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section359b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section359c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section359d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section359e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section360a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section360b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section360c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section360d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section360e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section361a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section361b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section361c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section361d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section361e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section362a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section362b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section362c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section362d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section362e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section363a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section363b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section363c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section363d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section363e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section364a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section364b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section364c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section364d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section364e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section365a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section365b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section365c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section365d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section365e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section366a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section366b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section366c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section366d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section366e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section367a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section367b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section367c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section367d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section367e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section368a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section368b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section368c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section368d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section368e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section369a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section369b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section369c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section369d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section369e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section370a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section370b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section370c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section370d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section370e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section371a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section371b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section371c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section371d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section371e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section372a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section372b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section372c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section372d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section372e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section373a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section373b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section373c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section373d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section373e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section374a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section374b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section374c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section374d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section374e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section375a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section375b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section375c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section375d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section375e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section376a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section376b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section376c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section376d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section376e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section377a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section377b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section377c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section377d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section377e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section378a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section378b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section378c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section378d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section378e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section379a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section379b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section379c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section379d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section379e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section380a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section380b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section380c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section380d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section381a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section381b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section381c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section381d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section381e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section382a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section382b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section382c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section382d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section382e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section383a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section383b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book2/section383c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>

  </div>
</div>

<div class="container wrapper">
  <ol class="sentence">
    <li>
      {% for i in range(words|length) %}
        {% if words[i][0]|string() == "," or words[i][0]|string() == "." or words[i][0]|string() == ";" or words[i][0]|string() == ":" %}
        {% elif words[i][0][0]|int != 0 %}
          <b class="sectionNum">{{ words[i][0] }}</b>
        {% elif words[i][0]|string() == ">" %}
          <br>
        {% elif words[i][0]|string() == "|" %}
          <br>
          <br>
        {% else %}
          <ol class="word">
            <li class="greek">
              <a target="_blank" href="{{ words[i][2] }}" class="greek">{{ words[i][0] }}{% if i < (words|length - 1) %}{% if words[i + 1][0]|string() == "," or words[i + 1][0]|string() == "." or words[i + 1][0]|string() == ";" or words[i + 1][0]|string() == ":" %}{{ words[i + 1][0] }}{% endif %}{% endif %}</a>
            </li>
            <li id="frequency{{ words[i][4] }}" class="english">
              {{words[i][1] }}: {{ words[i][3] }}<span></span>
            </li>
          </ol>
        {% endif %}
      {% endfor %}
    </li>
  </ol>
</div>

<div id="page-wrap">
  <div class="sidebar">
    <h4 class="info">Click to filter vocab</h4>
    <div class="list-group difficulty">
      <p class="info"><b>Vocab Difficulty:</b></p>
      <a id="vocab1" class="list-group-item list-group-item-action vocab-level">1</a>
      <a id="vocab2" class="list-group-item list-group-item-action vocab-level">2</a>
      <a id="vocab3" class="list-group-item list-group-item-action vocab-level">3</a>
    </div>
  </div>
</div>

<footer>
  <p>@ Bryce McDonald, CS 50 Final Project. Thanks to Perseus Digital Library for the Greek text and online dictionary.</p>
</footer>
{% endblock %}