{% extends "layout.html" %}

{% block main %}
<div class="container title">
  <h3>Greek Interlinear Dictionary</h3>
  <h4>Plato's <i>Republic</i></h4>
</div>
<div class="passage-selection">
  <div class="list-group">
        <p><b>Book: </b><span class="book-number"></span></p>
        <a id="1" href="/republic/book1/section327a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
        <a id="2" href="/republic/book2/section357a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
        <a id="3" href="/republic/book3/section386a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
        <a id="4" href="/republic/book4/section419a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
        <a id="5" href="/republic/book5/section449a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
  </div>
  <div class="list-group">
    <p><b>Section: </b><span class="section-number"></span></p>
<a href="/republic/book3/section386a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section386b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section386c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section386d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section387a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section387b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section387c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section387d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section387e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section388a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section388b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section388c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section388d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section388e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section389a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section389b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section389c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section389d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section389e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section390a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section390b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section390c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section390d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section390e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section391a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section391b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section391c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section391d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section391e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section392a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section392b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section392c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section392d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section392e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section393a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section393b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section393c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section393d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section393e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section393a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section393b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section393c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section393d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section393e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section394a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section394b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section394c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section394d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section394e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section395a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section395b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section395c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section395d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section395e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section396a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section396b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section396c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section396d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section396e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section397a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section397b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section397c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section397d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section397e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section398a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section398b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section398c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section398d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section398e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section399a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section399b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section399c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section399d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section399e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section400a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section400b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section400c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section400d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section400e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section401a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section401b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section401c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section401d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section401e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section402a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section402b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section402c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section402d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section402e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section403a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section403b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section403c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section403d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section403e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section404a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section404b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section404c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section404d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section404e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section405a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section405b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section405c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section405d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section405e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section406a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section406b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section406c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section406d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section406e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section407a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section407b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section407c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section407d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section407e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section408a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section408b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section408c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section408d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section408e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section409a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section409b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section409c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section409d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section409e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section410a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section410b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section410c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section410d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section410e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section411a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section411b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section411c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section411d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section411e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section412a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section412b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section412c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section412d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section412e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section413a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section413b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section413c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section413d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section413e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section414a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section414b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section414c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section414d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section414e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section415a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section415b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section415c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section415d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section415e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section416a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section416b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section416c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section416d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section416e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section417a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book3/section417b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>

  </div>
</div>

<div class="container wrapper">
  <ol class="sentence">
    <li>
      {% for i in range(words|length) %}
        {% if words[i][0]|string() == "," or words[i][0]|string() == "." or words[i][0]|string() == ";" or words[i][0]|string() == ":" %}
        {% elif words[i][0][0]|int != 0 %}
          <b class="sectionNum">{{ words[i][0] }}</b>
        {% elif words[i][0]|string() == ">" %}
          <br>
        {% elif words[i][0]|string() == "|" %}
          <br>
          <br>
        {% else %}
          <ol class="word">
            <li class="greek">
              <a target="_blank" href="{{ words[i][2] }}" class="greek">{{ words[i][0] }}{% if i < (words|length - 1) %}{% if words[i + 1][0]|string() == "," or words[i + 1][0]|string() == "." or words[i + 1][0]|string() == ";" or words[i + 1][0]|string() == ":" %}{{ words[i + 1][0] }}{% endif %}{% endif %}</a>
            </li>
            <li id="frequency{{ words[i][4] }}" class="english">
              {{words[i][1] }}: {{ words[i][3] }}<span></span>
            </li>
          </ol>
        {% endif %}
      {% endfor %}
    </li>
  </ol>
</div>

<div id="page-wrap">
  <div class="sidebar">
    <h4 class="info">Click to filter vocab</h4>
    <div class="list-group difficulty">
      <p class="info"><b>Vocab Difficulty:</b></p>
      <a id="vocab1" class="list-group-item list-group-item-action vocab-level">1</a>
      <a id="vocab2" class="list-group-item list-group-item-action vocab-level">2</a>
      <a id="vocab3" class="list-group-item list-group-item-action vocab-level">3</a>
    </div>
  </div>
</div>

<footer>
  <p>@ Bryce McDonald, CS 50 Final Project. Thanks to Perseus Digital Library for the Greek text and online dictionary.</p>
</footer>
{% endblock %}