{% extends "layout.html" %}

{% block main %}
<div class="container title">
  <h3>Greek Interlinear Dictionary</h3>
  <h4>Plato's <i>Republic</i></h4>
</div>
<div class="passage-selection">
  <div class="list-group">
        <p><b>Book: </b><span class="book-number"></span></p>
        <a id="1" href="/republic/book1/section327a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
        <a id="2" href="/republic/book2/section357a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
        <a id="3" href="/republic/book3/section386a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
        <a id="4" href="/republic/book4/section419a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
        <a id="5" href="/republic/book5/section449a/{{ vocab }}" class="list-group-item list-group-item-action book-link"></a>
  </div>
  <div class="list-group">
    <p><b>Section: </b><span class="section-number"></span></p>
<a href="/republic/book4/section419a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section420a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section420b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section420c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section420d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section420e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section421a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section421b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section421c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section421d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section421e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section422a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section422b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section422c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section422d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section422e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section423a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section423b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section423c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section423d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section423e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section424a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section424b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section424c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section424d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section424e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section425a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section425b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section425c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section425d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section425e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section426a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section426b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section426c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section426d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section426e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section427a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section427b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section427c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section427d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section427e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section428a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section428b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section428c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section428d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section428e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section429a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section429b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section429c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section429d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section429e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section430a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section430b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section430c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section430d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section430e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section431a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section431b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section431c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section431d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section431e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section432a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section432b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section432c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section432d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section432e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section433a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section433b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section433c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section433d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section433e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section434a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section434b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section434c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section434d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section434e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section435a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section435b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section435c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section435d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section435e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section436a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section436b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section436c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section436d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section436e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section437a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section437b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section437c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section437d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section437e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section438a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section438b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section438c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section438d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section438e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section439a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section439b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section439c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section439d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section439e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section440a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section440b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section440c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section440d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section440e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section441a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section441b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section441c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section441d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section441e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section442a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section442b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section442c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section442d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section442e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section443a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section443b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section443c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section443d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section443e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section444a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section444b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section444c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section444d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section444e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section445a/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section445b/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section445c/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section445d/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>
<a href="/republic/book4/section445e/{{ vocab }}" class="list-group-item list-group-item-action section-link"></a>

  </div>
</div>

<div class="container wrapper">
  <ol class="sentence">
    <li>
      {% for i in range(words|length) %}
        {% if words[i][0]|string() == "," or words[i][0]|string() == "." or words[i][0]|string() == ";" or words[i][0]|string() == ":" %}
        {% elif words[i][0][0]|int != 0 %}
          <b class="sectionNum">{{ words[i][0] }}</b>
        {% elif words[i][0]|string() == ">" %}
          <br>
        {% elif words[i][0]|string() == "|" %}
          <br>
          <br>
        {% else %}
          <ol class="word">
            <li class="greek">
              <a target="_blank" href="{{ words[i][2] }}" class="greek">{{ words[i][0] }}{% if i < (words|length - 1) %}{% if words[i + 1][0]|string() == "," or words[i + 1][0]|string() == "." or words[i + 1][0]|string() == ";" or words[i + 1][0]|string() == ":" %}{{ words[i + 1][0] }}{% endif %}{% endif %}</a>
            </li>
            <li id="frequency{{ words[i][4] }}" class="english">
              {{words[i][1] }}: {{ words[i][3] }}<span></span>
            </li>
          </ol>
        {% endif %}
      {% endfor %}
    </li>
  </ol>
</div>

<div id="page-wrap">
  <div class="sidebar">
    <h4 class="info">Click to filter vocab</h4>
    <div class="list-group difficulty">
      <p class="info"><b>Vocab Difficulty:</b></p>
      <a id="vocab1" class="list-group-item list-group-item-action vocab-level">1</a>
      <a id="vocab2" class="list-group-item list-group-item-action vocab-level">2</a>
      <a id="vocab3" class="list-group-item list-group-item-action vocab-level">3</a>
    </div>
  </div>
</div>

<footer>
  <p>@ Bryce McDonald, CS 50 Final Project. Thanks to Perseus Digital Library for the Greek text and online dictionary.</p>
</footer>
{% endblock %}